@{
    Layout = null;
}
<h3>Learn AngularJS</h3>
<br />
<h4>Getting Started with AngularJS</h4>
<p>If you are new to AngularJS the AngularJS <a href="http://angularjs.org/" target="_blank">home page</a> has a good description and working examples on capabilities of AngularJS.</p>
<p>Some of the components you'll see most frequently in Angular are controllers, directives, filters, modules, and services. Detailed definitions for each of these are provided on the official
    site. To see them in action, go to the <a href="#/samples">Samples</a> page.
</p>

<h3>Other resources</h3>
<p>The official AngularJS Step by Step <a href="http://docs.angularjs.org/tutorial" target="_blank">tutorial</a> is very helpful in providing a guided learning experience.</p>
<p>Another great resource is <a href="http://www.egghead.io" target="_blank">egghead.io</a>. It has 50+ quick video tutorials, starting from the very basic to advanced angular concepts like custom directives. 
    Most videos build off of their predecessors, so it's advisable to start with video one, and watch them sequentially.</p>
<p>Sometimes, it's most helpful to see how others are using a particular technology. These sites showcase some Angular implementations:
    <ul>
        <li><a href="http://blog.angularjs.org/2012/11/angularjs-example-applications.html" target="_blank">Example Apps with Source code</a></li>
        <li><a href="http://builtwith.angularjs.org/" target="_blank">Build with Angular</a></li>
    </ul>
</p>

<p>One of the first potential stumbling blocks encountered when working seriously in AngularJS is the scope's prototypal nature issue. 
    <strong>This <a href="https://github.com/angular/angular.js/wiki/Understanding-Scopes" target="_blank">wiki</a> entry deals specifically with that fundamental concept.</strong>
</p>

<h4>Continuing Education</h4>
<ul>
    <li>Read the <a href="http://docs.angularjs.org/guide/" target="_blank">developer guide.</a> The guide explains the internal working on AnuglarJS and how things fit together. Once you are into serious development you would keep coming back to it again and again.</li>
    <li>Directives in Angular are probably the trickiest part of the toolset to understand. Read the <a href="http://docs.angularjs.org/guide/directive" target="_blank">directive section of the developer guide.</a></li>
    <li>If you want to know how <a href="http://stackoverflow.com/questions/9682092/databinding-in-angularjs/9693933#9693933" target="_blank">data binding</a> happens in Angular, read this stack overflow post.</li>
    <li>Follow the latest in AngularJS on <a href="https://plus.google.com/+AngularJS" target="_blank">Google+ Channel</a></li>
</ul>