@{
    Layout = null;
}

<div class="hero-unit">
    <h1>Welcome to AngularJS</h1>
    <p>This is a sample solution showcasing a mix of ASP.Net MVC and AngularJS.<br />The stack includes ASP.Net MVC, WebAPI, Bootstrap 2.3.2 and AngularJS 1.2.0 -RC1.</p>
</div>
<div class="row">
    <div class="span6">
        <h3>New to AngularJS !</h3>
        <p><a href="http://angularjs.org/" target="_blank">AngularJS</a> is what HTML would have been, had it been designed for building web-apps.
            We have highlighted some of the resources that would help you learn about the framework and make you productive.
        </p>
         <p>
            <a class="btn" href="#/angular">Learn More »</a>
        </p>
    </div>
    <div class="span6">
        <h3>AngularJS Samples</h3>
         <p>While Angular is a relatively new framework, there are already a variety of examples of its use on the <a href="http://angularjs.org">official site</a>,
             as well as other locations on the web. This solution also contains a few simple examples to help you 
             understand the concepts involved.
         </p>
         <p>
            <a class="btn" href="#/samples">Learn More »</a>
        </p>
    </div>
</div>

